.temporary-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  transform: translateY(12px);
  animation: slide-down-alert 0.5s;
  opacity: 0;
  pointer-events: none;
}

.temporary-alert.show {
  pointer-events: auto;
  opacity: 1;
}

@keyframes slide-down-alert {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(12px);
  }
}
